@font-face {
    font-family: 'EvelethClean';
    src: url('fonts/eveleth_clean_regular-webfont.woff2') format('woff2'),
         url('fonts/eveleth_clean_regular-webfont.woff') format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, body, footer{
  width: clamp(500px, 1080);
}


/* ----------------- Language-----------------  */
.main-header {
    background-color: black;
    color:aliceblue;
}

.language{
  text-align: center;
  display: block;
  padding-top: 2px;
  font-size: small;
}

.logo-font{
  font-size:xx-large;
}


/* ----------------- Navigation ----------------- */
header ul {
  align-items: center;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar{
  font-family: EvelethClean;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  width: clamp(768px, 1080, 1080);
  margin: auto;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    background-color: #000000;
    padding: 10px;
    width: calc(100% - 70px);
  }

  .nav-menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .image-offer-card{
    flex-basis: 100%;
  }

  .contacts{
    flex-basis: 40%;
  }
}


/* ----------------- Texts ----------------- */

h1, h2, h3{
    font-family: EvelethClean;
    text-align: center;
    padding: 10px;
    
}

main h3{
  font-size: small;
  color: dimgray;
  padding: 10px;
}

p, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5{
  font-size: 10px;
  color: dimgray;
  font-family: "droid_sans",verdana,sans-serif;
}


/* ----------------- Line ----------------- */
hr{
  border: 0;
  height: 5px;
  border-radius: 8px;
  background-color: #0073ab;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}


/* ----------------- delivery And pickup ----------------- */
.delivery-and-pickup{
  display: flex;
  justify-content:center;
  padding: 20px;
}

.delivery-and-pickup a{
 color: aliceblue;
 text-decoration: none;
}

.delivery{
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #0073ab;
  border-radius: 5px;
  margin-right: 10px;
}

.pickup{
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #e3002f;
  border-radius: 5px;
}

.arrow-box{
  display: inline-block;
  border-radius: 30px;
  color: #fff;
  font-size:large;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  z-index: 99;
  margin-top: -20px;
  margin-left: -20px;
  background: #006991;
  border: #005574 2px solid;
}

#pickup{
  background-color: #e3002f;
  border: #aa082a 2px solid;
}

#pickup-footer{
  background-color: #b6142c;
}

.start-order-footer{
  height: 40px;
  margin-top: 40px;
  border-radius: 0 0 5px 5px;
  background-color: #005574;
}

/* -----------------  Cards ----------------- */
.card-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
}

.row, .lists, .socoal-media-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-top: 70px;
}

.offer-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex-basis: 22%;
  margin-bottom: 30px;
  text-align: center;
  padding: 5px;
}

.image-offer-card {
  width: 30%;
  margin-bottom: 30px;
}

.image-offer-card img{
  display: block;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

.offer-card h2 {
  color:#017ab1;
}

.offer-card p {
  font-size: 26px;
  align-items: center;
  font-family: "droid_sans",verdana,sans-serif;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0 2px 0 2px;
}

.image-offer-card p{
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0 2px 0 2px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/*-----------------  Buttons ----------------- */

button{
  display: inline-block;
  border-style:none;
  padding-block: 3px;
  padding-inline: 6px;
  border-radius: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
}

.small-red-button{
  background: #e3002f;
  padding: 10px 30 px;
  margin: 10px 0;
}

.big-red-button{
  background: #e3002f;
  width: 100%;
  padding: 7px 10px 7px 10px;
  margin: 2px;
}

.big-blue-button{
  background: #017ab1;
  width: 100%;
  padding: 7px 10px 7px 10px;
  margin: 2px;
}

.big-blue-button-register-now{
  background: #017ab1;
  width: auto;
  padding: 7px 10px 7px 10px;
  margin: 2px;
}

.small-red-button:hover{
  background: #aa082a;
}

.big-red-button:hover{
  background: #aa082a;
}

.big-blue-button:hover{
  background: #06587d;
}

/* ----------------- App ----------------- */
#app{
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: radial-gradient(#bfebff, #017ab1);
  padding-bottom: 20px;
}

.col-2{
  color: aliceblue;
}

.apps-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe{
  text-align: center;
}

/*-----------------  culumns ----------------- */
.columns{
  display: flex;
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
}

.subcolumn{
  flex: 1;
  padding: 10px;
  margin: 5px;
}

/*-----------------  Histery ----------------- */
.history{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; 
  text-align: center;
}

/*-----------------  Footer ----------------- */

footer{
  text-align: center;
}

.contacts{
  width: 22%;
  margin-bottom: 30px;
}

.social-media{
  flex-direction: row;
}

footer ul {
  vertical-align: middle;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

footer li a {
  display: block;
  color: #454545;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 16px;
}

.apps{
  border-right-color: #a9a9a9;
  border-right-style: groove;
  border-right-width: thin;
  height: 30%;
  padding-right: 20px;
}

.sm{
  padding-left: 20px;
}

/*------------ Slider ----------*/

.slider-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  max-width: 1500px;
  height: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  animation: slide 8s infinite alternate;
}

@keyframes slide {
  0%, 50% {
    transform: translateX(0);
}
55%, 100% {
    transform: translateX(-100%);
}
}

.slider img {
  width: 100%;
  height: auto;
}

